
<h2>Log In</h2>

<form action="/sessions" method="post" class="form-horizontal">

  <%= token_tag %>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" id="email" name="email" value="user@test.com">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="password" value="password">
    </div>
  </div>

  <div class="control-group">
    <button type="submit" class="controls btn btn-inverse">Log In</button>    
  </div>

  <div class="control-group">
    <label class="control-label" for="alert"></label>
    <div class="controls">   
      <p id="alert"><%= flash[:alert] %></p>
    </div>   
  </div>
  
</form>
