
<div id="search-block" class="main">

    <h2>Search for Sublime Packages</h2>
    
    <form class="package-search-form">       
        <input type="text" id="name" name="package_name" placeholder="Enter Package name...">      
        <button><span class="glyphicon glyphicon-search"></span></button>
    </form>

    <div class="packages-total">
    </div>

    <table class="packages">
    </table>

<!--     <div class="d3chart">    
    </div>
     -->
<!--         <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul> -->
</div>

   
<script type="text/javascript">
    window.currentUser = null;
    <% if current_user %>
        window.currentUser = {
            id : "<%= current_user.id %>"
        }
     <% end %>
</script>


<% if current_user %>
    <!-- new data -->

    <form class="review-form">

      <p>Write your review for <span id="package_name"></span></p>

      <input type="hidden" name="author_id" value="<%= current_user.id %>" >
      <input type="hidden" name="author_name" value="<%= current_user.username %>" >  
      <input type="hidden" id="package_name" name="review-package" readonly>

      <input type="text" id="title" name="review-title" placeholder="Title..."></br>
     
      <textarea id="description" name="review-description" placeholder="Your description..."></textarea></br>

      <label for="review-platform">Platform:</label>
     
      <input type="radio" id="win" name="review-platform" value="win">
      <label for="win">WIN</label>      
      <input type="radio" id="osx" name="review-platform" value="osx">
      <label for="osx">OS X</label>      
      <input type="radio" id="linux" name="review-platform" value="linux">
      <label for="linux">LINUX</label><br>

      <label for="review-rating">Rating:</label>      
      <input type="radio" id="poor" name="review-rating" value="1">
      <label for="poor">1: poor</label>      
      <input type="radio" id="fair" name="review-rating" value="2">
      <label for="fair">2: fair</label>      
      <input type="radio" id="good" name="review-rating" value="3">
      <label for="good">3: good</label>      
      <input type="radio" id="very_good" name="review-rating" value="4">
      <label for="very_good">4: very good</label>      
      <input type="radio" id="excellent" name="review-rating" value="5">
      <label for="excellent">5: excellent</label></br>

      <button type='submit'>Submit Review</button>
              
    </form>

<% end %>

